* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-color: hsl(0, 0%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*jeśli zawartość strony jest mniejsza, white-board będzie zawsze na środku widoku */
}

.white-board {
  margin: auto;
  display: flex;
  background-color: hsl(231, 100%, 99%);
  border-radius: 10px;
  height: 500px;
  padding: 10px;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
}

.step-container {
  background-image: url("/src/assets/images/bg-sidebar-desktop.svg");
  min-width: 300px;
  padding-left: 10px;
  padding-top: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}

.formContainer {
  padding-top: 30px;
  padding-right: 50px;
  position: relative;
  max-width: 500px;
}

.circleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.selectedCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  font-size: 15px;
  color: black;
  font-weight: 500;
  background-color: hsl(206, 94%, 87%);
}

.step {
  display: flex;
  align-items: center;
  padding: 12px;
}

.stepMain {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding-left: 10px;
}

.text1 {
  color: hsl(213, 96%, 18%);
  font-size: 26px;
  margin-bottom: 10px;
}

.text2 {
  margin-bottom: 30px;
  color: hsl(231, 11%, 63%);
}

.stepText1 {
  color: hsl(231, 11%, 63%);
  font-size: 12px;
}

.stepText2 {
  color: white;
  font-size: 14px;
}

.bar1 {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  border-color: hsl(0, 0%, 8%, 0.3);
  border-width: 1px;
  margin-bottom: 20px;
}

.bar2 {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  border-color: hsl(0, 0%, 8%, 0.3);
  border-width: 1px;
  margin-bottom: 20px;
}

.bar3 {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  border-color: hsl(0, 0%, 8%, 0.3);
  border-width: 1px;
}

.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: hsl(213, 96%, 18%);
  color: white;
  font-weight: 500;
}

.back-button {
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  background-color: hsl(231, 100%, 99%);
  color: hsl(213, 96%, 18%);
  font-weight: 600;
}

.next-button-container {
  display: flex;
  margin-top: 20px;
}

.back-button-container {
  display: flex;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 100%;
}

.error-text {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: red;
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: -45px;
}

.buttons {
  display: flex;
}
.clicked {
  border: 1px solid hsl(213, 96%, 18%);
  background-color: hsl(280, 13%, 91%);
}

.planButton {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin-right: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid hsl(231, 11%, 63%);
}

.planButton:hover {
  border: 1px solid hsl(213, 96%, 18%);
  background-color: hsl(288, 13%, 95%);
}

.planButton img {
  width: 30px;
  height: auto;
}

.buttonText {
  color: hsl(213, 96%, 18%);
  font-weight: 500;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.buttonPrice {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}

.freeMonths {
  font-size: 12px;
  color: hsl(213, 96%, 18%);
  margin-top: 5px;
  font-weight: 500;
}

.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 40px;
}

.check-box-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 7px;
  border: 2px solid hsl(231, 11%, 90%);
  cursor: pointer;
}
.add-ons-bar-selected {
  background-color: hsl(231, 11%, 93%);
  border: 2px solid blueviolet;
}

.paragraph {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.parent {
  display: flex;
}
.up-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(67, 67, 198);
}

.title {
  color: hsl(213, 96%, 18%);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}
.sub-title {
  font-size: 14px;
  color: hsl(231, 11%, 56%);
}

@media (max-width: 1000px) {
  .white-board {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .white-board {
    width: 100%;
  }
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(222, 19%, 89%);
  margin-top: 30px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
}

.bold-text {
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

.together {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.price {
  display: flex;
  justify-content: flex-end;
  margin-left: 200px;
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

.price2 {
  font-size: 14px;
  color: hsl(213, 96%, 18%);
}

.sum-price {
  font-size: 20px;
}

.selectedButton {
  border: 1px solid hsl(213, 96%, 18%);
  background-color: hsl(231, 100%, 99%);
}

.selectedAddOn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 5px;
}

.selectedAddOnTitle {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}
.selectedAddOnPrice {
  color: hsl(213, 96%, 18%);
  font-size: 14px;
}

.table {
  width: 100%;
  background-color: hsl(231, 11%, 95%);
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.total-sum {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: hsl(251, 61%, 54%);
  font-weight: bold;
}

.line {
  width: 100%;
  height: 1px;
  background-color: hsl(231, 11%, 83%);
  margin-bottom: 20px;
  margin-top: 10px;
}

.option2,
.total {
  color: hsl(231, 11%, 63%);
  font-size: 15px;
}

.option1 {
  margin-bottom: 5px;
  color: hsl(213, 96%, 18%);
  font-weight: bold;
}

.change-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: hsl(251, 61%, 54%);
  font-size: 13px;
}

.confirm-button {
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: hsl(251, 61%, 54%);
  color: white;
  font-weight: 500;
}

.finish {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
.finish-text1 {
  margin-top: 20px;
}
.finish-text2 {
  margin-top: 20px;
  color: hsl(231, 11%, 53%);
}
.display-none {
  display: none;
}
